{% include 'layout.html.twig' %}
{% block main_content %}

    <h1>Comment bénéficier d'aides financières à la location ?</h1>
    <div id="text">
        <p>L yon comme énormément d'autres villes française à connu une
        augmentation du montant de ces loyers ces dernières années. Des aides
        peuvent vous aider à financer votre loyer. La CAF avec ces APL est
            l'organisme qui sera le plus enclin à vous aider.</p>
        <br>

        <p>P our cela, il suffit de remplir un formulaire dans les agences de la
        CAF. L'une d'entre elle se trouve 67, boulevard Marius Vivier Merle
            dans le troisième. Un conseiller sera là pour vous aider.</p>
        <br>
        <p>A vec cette aide, vous devriez avoir moins de soucis pour régler votre
        loyer. Toutes fois, d'autres aides peuvent vous aider, notament le CROUS
        peut vous octroyer un logement dans une résidence Universitaire ou une
            aide au logement supplémentaire.</p>
    </div>
{% endblock %}