{% include 'layout.html.twig' %}
{% block main_content %}

<h2>SEXUALITE - Où trouver des protections intimes ?</h2>

<p>Il est possible de trouver des préservatifs gratuitement dans
les infirmeries de votre école ou de votre faculté. La Maison
de la Jeunesse et de la Culture en distribue également lors du
Sidaction. Le planning familiale en distribue également
    régulièrement tout au long de l'année. </p>
{% endblock %}

