{% include 'layout.html.twig' %}
{% block main_content %}
    <div class="container">
        <h1>Chasse au trésor</h1>
        {% if app.request.cookies.get('secret_state') == 0 %}
            <p>En venant sur cette page, vous allez devoir résoudre plusieurs énigmes en suivant la vie de Jean-Baptiste Gautier. Il vous aidera à résoudre celles-ci.
                Soyez attentif, un élément par énigmes est caché quelque part sur ce site, il vous permettra de passer à l'énigme suivante.
                Voulez-vous commencer ?</p>
            <button>Commencer</button>
        {% endif %}
        {% if app.request.cookies.get('secret_state') == 1 %}
            <p>Nous sommes en septembre, je m’appelle Jean-Baptiste Gautier, j’ai quitté ma campagne pour la ville et pour continuer mes études.
                Je suis un peu perdu, j’ai un peu l’impression d’être livré à moi-même.
                Je me suis renseigné un peu et j’ai pu trouver un appart sur Lesitetropcool.
                Par contre je sais pas trop où récupérer les clefs de mon logement, c’est pas comme ci elles se cachent sur le site non plus !</p>
        {% endif %}
        {% if app.request.cookies.get('secret_state') == 2 %}
            <p>Nous sommes en novembre, les fins de mois sont déjà difficile sans aide extérieur.
                Un ami m’a parlé d’une aide pour les personnes seule en appartement.
                Je me souviens plus du nom ... c’est quand même fou, je suis retourné sur le site qui m’a aidé pour mon logement y’a pas longtemps et il y avait le nom de l’aide ... j’ai pas le droit d’avoir oublié ça ... un vrai poisson rouge !</p>
        {% endif %}
        {% if app.request.cookies.get('secret_state') == 3 %}
            <p>Hier, j’ai ressorti mon plus beau pull marron. J’ai pu remarquer que l’hiver arrive très vite, ça ne m’a pas manquer !
                Je n’avais pas envie de marcher pendant une demi-heure comme tout les matins pour aller à la fac.
                Y’a une station de vélo juste en bas de mon immeuble et un superbe vélo bleu qui m’a tout de suite donné envie de faire un trajet différent de d’habitude.
                J’avais même envie d’accélérer en appuyant sur les flèches de mon clavier, je crois que je joue un peu trop aux jeux vidéos...</p>
        {% endif %}
        {% if app.request.cookies.get('secret_state') == 4 %}
            <p>Décembre arrive déjà, je me rends compte que je ne connais pas énormément de monde par ici.
                J’ai appris récemment qu’une fille qui me plaît participe à un événement à l’université : « la nuit de l’informatique », un truc comme ça.
                Je voulais pas paraître ridicule du coup je me suis un peu entrainé. Je suis tombé sur un petit Qcm en cherchant un peu sur internet.
                Finalement, ça a pas l’air si compliqué, j’hésite même à demander quelques cours à cette fille.</p>
        {% endif %}
        {% if app.request.cookies.get('secret_state') == 5 %}
            <p>Février est là, l’année commence super bien. Tout est allé très vite avec cette fille depuis ce fameux mois de décembre.
                Elle vit quasiment chez moi et forcément je ne la laisse pas dormir dans le canapé. S’il doit se passer quelques chose le soir il faut que je sois protégé.
                D’ailleurs, j’avais vu une grosse image d’un préservatif sur un site, la copine cherchait des infos sur le planning familial.
                En y repensant, je crois que j’avais beaucoup rigolé en voyant cette image, je me demande si je suis encore trop immature.</p>
        {% endif %}
        {% if app.request.cookies.get('secret_state') == 6 %}
            <p>Décidément, je ne vois pas le temps passé. On est déjà en avril et j’ai toujours pas de stage pour cet été... ah !
                Je crois que j’ai reçu un mail enfaite, faut que j’aille vérifier!</p>
        {% endif %}
        {% if app.request.cookies.get('secret_state') == 7 %}
            <p>Ça y est, on est en août et j’ai enfin mon diplôme ! Par contre, j’ai la flemme de le récupérer... Eh, toi là ! Toi qui m’as écouté durant cette année, te cache pas je te vois !
                Tu ne pourrais pas le récupérer à ma place ? Franchement tu serais un amour !</p>
        {% endif %}
        {% if app.request.cookies.get('secret_state') == 8 %}
            <p>L’intégralité des énigmes a été résolue, bravo et merci d’avoir pris le temps d’écouter l’histoire de Jean-Baptiste Gautier.
                Le site n’a plus de secret pour toi, n’hésite pas à t’en resservir à l’occasion si tu en éprouves le besoin !</p>
        {% endif %}
    </div>
    <script>
        function createCookie(name,value,days) {
            if (days) {
                var date = new Date();
                date.setTime(date.getTime()+(days*24*60*60*1000));
                var expires = "; expires="+date.toGMTString();
            }
            else var expires = "";
            document.cookie = name+"="+value+expires+"; path=/";
        }

        function readCookie(name) {
            var nameEQ = name + "=";
            var ca = document.cookie.split(';');
            for(var i=0;i < ca.length;i++) {
                var c = ca[i];
                while (c.charAt(0)===' ') c = c.substring(1,c.length);
                if (c.indexOf(nameEQ) === 0) return c.substring(nameEQ.length,c.length);
            }
            return null;
        }

        function eraseCookie(name) {
            createCookie(name,"",-1);
        }
        if (readCookie("secret_state") == null) {
            createCookie("secret_state", 0);
        }
        document.querySelector("h1").addEventListener("click", function (event) {
            createCookie("secret_state", 0);
        });
        document.querySelector("button").addEventListener("click", function (event) {
            createCookie("secret_state", 1);
        });
    </script>
{% endblock %}