{% include 'layout.html.twig' %}
{% block main_content %}

    <h2>Se déplacer en Vélov'</h2>

<p>A Lyon, l'un des meilleurs moyens de locomotion c'est le vélo.
Grâce à Vélov' vous n'aurez pas à vous soucier de l'entretien
de votre vélo. Vous en aurez un toujours prêt et toujours
entretenu en toute circonstance. Avec l'offre étudiante les 30
premières minutes de location sont offertes et vous pouvez
renouveler l'opération indifiniment sans supplément.<p>

    <h3>-> L'essayer c'est l'adopter.</h3>
{% endblock %}